// Animation
$animation-duration-1: .15s;
$animation-duration-2: .2s;
$animation-duration-3: .35s;
$animation-duration-4: .4s;

$animation-easing-ease-in: ease-in;
$animation-easing-ease-out: ease-out;
$animation-easing-ease-in-out: ease-in-out;
