@use "../tokens/t-colors" as *;
@use "../tokens/t-borders" as *;

// Color
.border-white {
  border-color: $gray-0 !important;
}

.border-black {
  border-color: $gray-1000 !important;
}

// Side
.border {
  border: $border-width-xs solid;
}

.border-left {
  border-left: $border-width-xs solid;
}

.border-right {
  border-right: $border-width-xs solid;
}

.border-top {
  border-top: $border-width-xs solid;
}

.border-bottom {
  border-bottom: $border-width-xs solid;
}

// Width
.border-width-xs {
  border-width: $border-width-xs !important;
}

.border-width-sm {
  border-width: $border-width-sm !important;
}

.border-width-md {
  border-width: $border-width !important;
}

// Radius
.br-xs {
  border-radius: $border-radius-xs;
}

.br-sm {
  border-radius: $border-radius-sm;
}

.br-md {
  border-radius: $border-radius;
}